.meta-container {
  padding: 1em;
  background: #f8fdfd;
}
.post-container {
  padding: 1em;
  background: #fafafa;
}
.post-title {
  margin: 1em 0;
}
.tldr-container {
  margin: 0.5em 0;
  padding: 2em 1em;
  background: #ddd;
}
.post-content {
  margin: 2em 0;
}
